body{
	display: flex;
	flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 header {
 	display: flex;
 	flex-direction: column;
}

.skillItem:nth-child(even) {
  background-color: #ded8ce;
  color: #008a94;
  display: flex;
  flex-direction: column;
}

.skillItem:nth-child(even) button {
	background-color: #008a94;
	color: #ded8ce;
}

.skillItem:nth-child(even) h2 {
	color: #008a94;
}

.more-buttons {
  display: flex;
  flex-direction: row;
  background-color: #ded8ce;
  border-radius: 4px;
  margin: 2px;
}

.skillsList{
	display:flex;
	flex-direction:column;
	text-align: left;
}

#searchResults {
	padding: 0% 0% 0% 0%;
	display: flex;
	flex-direction: column;
	/*width: 100vw;*/
}

ul {
  list-style-type: none;
  padding: 5% 10% 0% 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

li {
	display: flex;
	flex-direction: column
}

.search-buttons {
	display: flex;
}

.skillheader:nth-child(even) {
	color: #008a94;
}

.skillheader, .altnames {
	text-align: center;
}

.altnames {
	padding: 0 3%;
}

.skillItem {
	min-height: 100px;
	padding: 5%;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.moreInfo {
	text-align: left;
	padding: 0% 0% 5% 5%;
}